/* Body styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: #FF8AC2; /* Pink background for the entire page */
  height: 100%; /* Ensures full height */
  width: 100%; /* Ensures full width */
}

/* Content container with margins*/
.body {
  margin-right: 25px;
  margin-left: 25px;
  padding: 0;
  display: flex; /* Enable flexbox for layout control */
  flex-direction: column; /* Stack items vertically */
  align-items: stretch; /* Stretch items to full width, or use flex-start for left-align */
  justify-content: flex-start; /* Align content to the top */
  min-height: 100vh; /*Ensures the page takes full viewport height if content is short */
}

@font-face {
  font-family: Bubble;
  src: url('/Bubblegum.woff2') format('woff2'),
       url('/Bubblegum.woff') format('woff'),
       url('/Bubblegum.TTF') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Handwriting;
  src: url('/Handwriting-Regular.woff2') format('woff2'),
       url('/Handwriting-Regular.woff') format('woff'),
       url('/Handwriting-Regular.OTF') format('opentype');
  font-display: swap;
}

h1 {
  font-family: Bubble;
  font-size: 50px;
  text-shadow: 4px 4px 2px #940047;
  text-align: center;
  color: white;
}

.logo-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#title {
  font-size: 3.5rem;
  margin: 0;
  white-space: nowrap;
  flex: 1;
}

#nav-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
  flex-wrap: wrap;
}

#nav-buttons button {
  padding: 15px 25px;
  font-size: 1.5rem;
  font-family: Bubble;
  background-color: white;
  color: #FF8AC2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#about-me {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
  font-family: Handwriting;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
  color: #FF8AC2;
}

#nav-buttons button:hover {
  background-color: #940047;
}